# Add tools to path
export PATH="$PATH:$(pwd)/tools"
export PATH="$PATH:$(pwd)/tools/bin"
export PATH="$PATH:$(pwd)/HackAssembler/build/HackAssembler"

# Add TAB-completion for HardwareSimulator.sh
source $(pwd)/tools/HardwareSimulator-completion.bash
